/* comon */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.section3_background {
    background-color: #FFFFFF;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width:320px){

    /* header */

    .header_naw {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
        }

    .container_hed {
        display: flex;
        align-items: center;
}
.logo_italik_nav {
    align-items: center;
    display: flex;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 16px 0;
    margin-right: 76px;
}

.logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.word_list_ {
    display: none;
}
.logo-address-list {
    display: none;
}

.burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger_icon {
    display: block;
    fill: #2f2f37;
}


}
@media screen and (min-width:768px) {

    /* header */

    .current {
        position: relative;
        color: #404bbf;
    }

    .word_list_ .word_list::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .word_list_ {
        display: flex;
        gap: 40px;
    }

    .word_list {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455;
    }
        .word_list {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            align-items: center;
        }
    
        .word_list:hover {
            color: #404bbf;
        }
    
        .word_list:focus {
            color: #404bbf;
        }
    
        .logo-address {
            font-style: normal;
            margin-left: auto;
        }
    
.logo-address-list {
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 16px;
    right: 16px;
    flex-direction: column;
    align-items: flex-end;
    display: block;
}

.logo-address-text {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-address-text:hover,
.logo-address-text:focus {
    color: #404bbf;
}

.burger {
display: none;
}
    
}

@media screen and (min-width:1158px) {

    /* header */

.logo-address {
    font-style: normal;
    margin-left: auto;
}

.logo-address-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    align-items: center;
    gap: 40px;
}

.logo-address-text {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}